.pay-button {
    padding: 10px 20px;
    background-color: #000000 !important;
    color: white !important;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 600 !important;

    &:hover {
        filter: brightness(90%) !important;
    }
}